<div class="heading">
  Class statistics last updated on <strong>June 14, 2020 at 5:00 CDT</strong>
</div>
<div class="panels">
  <div>
    <div class="panel">
      <div class="header">Considerations</div>

      <div class="content">
        <div class="question">
          I'm enjoy fulfilling the role of...

          <div class="inline">
            <span
              ><mat-checkbox
                (change)="reqRoleChanged('tank', $event)"
              ></mat-checkbox>
              Tank</span
            >
            <span
              ><mat-checkbox
                (change)="reqRoleChanged('healer', $event)"
              ></mat-checkbox>
              Healer</span
            >
          </div>

          <div class="inline">
            <span
              ><mat-checkbox
                (change)="reqRoleChanged('melee', $event)"
              ></mat-checkbox>
              Melee DPS</span
            >
            <span
              ><mat-checkbox
                (change)="reqRoleChanged('ranged', $event)"
              ></mat-checkbox>
              Ranged DPS</span
            >
          </div>
        </div>

        <div class="question">
          <div>How important is <strong>self healing</strong> to you?</div>
          <mat-slider
            (input)="sliderChanged('survivability', $event)"
            min="1"
            max="4"
            step="1"
            value="1"
          ></mat-slider>
          <div class="slider-value">{{ survivabilityLabel$ | async }}</div>
        </div>

        <div class="question">
          How important is <strong>mobility</strong> to you?
          <mat-slider
            (input)="sliderChanged('mobility', $event)"
            min="1"
            max="4"
            step="1"
            value="1"
          ></mat-slider>
          <div class="slider-value">{{ mobilityLabel$ | async }}</div>
        </div>

        <div class="question">
          How important is having supportive <strong>utility</strong> abilities
          to aid your group to you?
          <mat-slider
            (input)="sliderChanged('utility', $event)"
            min="1"
            max="4"
            step="1"
            value="1"
          ></mat-slider>
          <div class="slider-value">{{ utilityLabel$ | async }}</div>
        </div>

        <div class="question">
          How important is being <strong>versitile</strong> to you?
          <mat-slider
            (input)="sliderChanged('versatility', $event)"
            min="1"
            max="4"
            step="1"
            value="1"
          ></mat-slider>
          <div class="slider-value">{{ versatilityLabel$ | async }}</div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="header">Tier List</div>
      <div class="content tier-list">
        <p>
          Tiers are determined based on spec respresentation of the top rated
          players in each respective content type (M+, Mythic Raiding, 3v3
          Arena, 2v2 Arena). Higher tiers represent a higher percentage of top
          rated players playing that spec in that role compared to other specs
          that fill that role.
        </p>

        <mat-tab-group mat-align-tabs="start" [color]="'accent'" dynamicHeight>
          <mat-tab label="M+">
            <ul>
              <li
                class="tier-section"
                style="font-weight: bold;"
                *ngFor="let tier of (tierList$ | async).mplus"
              >
                <div class="tier-title" [class]="tierClass(tier.tier)">
                  {{ tier.tier }} Tier
                </div>
                <ul class="tier-classes">
                  <li
                    [style.color]="getClassColor(spec.klass).bg"
                    class="unit-frame"
                    *ngFor="let spec of tier.specs"
                  >
                    <div>{{ spec.spec }}</div>
                    <div>{{ spec.klass }}</div>
                  </li>
                </ul>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="3v3">
            <ul>
              <li
                class="tier-section"
                style="font-weight: bold;"
                *ngFor="let tier of (tierList$ | async).threes"
              >
                <div class="tier-title" [class]="tierClass(tier.tier)">
                  {{ tier.tier }} Tier
                </div>
                <ul class="tier-classes">
                  <li
                    [style.color]="getClassColor(spec.klass).bg"
                    class="unit-frame"
                    *ngFor="let spec of tier.specs"
                  >
                    <div>{{ spec.spec }}</div>
                    <div>{{ spec.klass }}</div>
                  </li>
                </ul>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="2v2">
            <ul>
              <li
                class="tier-section"
                style="font-weight: bold;"
                *ngFor="let tier of (tierList$ | async).twos"
              >
                <div class="tier-title" [class]="tierClass(tier.tier)">
                  {{ tier.tier }} Tier
                </div>
                <ul class="tier-classes">
                  <li
                    [style.color]="getClassColor(spec.klass).bg"
                    class="unit-frame"
                    *ngFor="let spec of tier.specs"
                  >
                    <div>{{ spec.spec }}</div>
                    <div>{{ spec.klass }}</div>
                  </li>
                </ul>
              </li>
            </ul>
          </mat-tab>

          <mat-tab label="Raiding">Coming soon</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="header">Recommendations</div>
    <div class="content">
      <div class="no-results" *ngIf="(classes$ | async).length === 0">
        No classes match that criteria.
      </div>
      <div
        data-aos="flip-up"
        data-aos-duration="400"
        data-aos-once="true"
        (click)="selectClass(class)"
        *ngFor="let class of classes$ | async"
        class="class-block"
        [ngClass]="(selectedClass$ | async)?.id === class.id ? 'selected' : ''"
        [ngStyle]="{
          'border-left':
            (selectedClass$ | async)?.id === class.id
              ? '10px solid #' + class.color
              : '5px solid #' + class.color
        }"
      >
        <div class="header">
          <div class="left">
            <img class="icon" src="/assets/{{ class.id }}.png" />
            <div class="name">
              {{ class.name }}
            </div>
          </div>
          <div class="roles">
            <img
              title="{{ role }}"
              src="/assets/{{ role }}.png"
              *ngFor="let role of class.roles"
            />
          </div>
        </div>
        <table class="percentages">
          <tr>
            <th></th>
            <th>M+</th>
            <th>Raiding</th>
            <th>2v2</th>
            <th>3v3</th>
          </tr>
          <tr>
            <td class="spec">All Specs</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr *ngFor="let spec of class.specStats">
            <td class="spec">{{ spec.spec }}</td>
            <td [class]="tierClass(spec.mplusTier)">
              {{
                spec.mplus !== null
                  ? (spec.percent.mplus | number: "1.1-1") + "%"
                  : "-"
              }}
            </td>
            <td>-</td>
            <td [class]="tierClass(spec.twosTier)">
              {{
                spec.twosTier !== null
                  ? (spec.percent.twos | number: "1.1-1") + "%"
                  : "-"
              }}
            </td>
            <td [class]="tierClass(spec.threesTier)">
              {{
                spec.threesTier !== null
                  ? (spec.percent.threes | number: "1.1-1") + "%"
                  : "-"
              }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="header">Class Details</div>
    <div class="content class-details">
      <div *ngIf="!(selectedClass$ | async)" class="no-class-selection">
        Select a class from the recommendation panel to see details.
      </div>
      <div *ngIf="selectedClass$ | async as class">
        <div class="class-details-name">
          <img class="icon" src="/assets/{{ class.id }}.png" />
          <div class="name" [style.color]="'#' + class.color">
            {{ class.name }}
          </div>
        </div>

        <div class="stat">
          <h4>Self healing</h4>
          <mat-progress-bar
            mode="determinate"
            value="{{ class.survivability * 25 }}"
          ></mat-progress-bar>
        </div>

        <div class="stat">
          <h4>Mobility</h4>
          <mat-progress-bar
            mode="determinate"
            value="{{ class.mobility * 25 }}"
            color="class.color"
          ></mat-progress-bar>
        </div>

        <div class="stat">
          <h4>Utility</h4>
          <mat-progress-bar
            mode="determinate"
            value="{{ class.utility * 25 }}"
            color="class.color"
          ></mat-progress-bar>
        </div>

        <div class="stat">
          <h4>Versatility</h4>
          <mat-progress-bar
            mode="determinate"
            value="{{ class.roles.length * 25 }}"
            color="class.color"
          ></mat-progress-bar>
        </div>

        <hr />

        <h3>Spec Performance</h3>

        <table class="performance">
          <tr>
            <th></th>
            <th>M+</th>
            <th>Raiding</th>
            <th>2v2</th>
            <th>3v3</th>
          </tr>
          <tr *ngFor="let spec of class.specStats">
            <th>{{ spec.spec }}</th>
            <td>
              <span class="tier tag" [class]="tierClass(spec.mplusTier)">{{
                spec.mplusTier ? spec.mplusTier + " Tier" : "-"
              }}</span>
            </td>
            <td></td>
            <td>
              <span class="tier tag" [class]="tierClass(spec.twosTier)">{{
                spec.twosTier ? spec.twosTier + " Tier" : "-"
              }}</span>
            </td>
            <td>
              <span class="tier tag" [class]="tierClass(spec.threesTier)">{{
                spec.threesTier ? spec.threesTier + " Tier" : "-"
              }}</span>
            </td>
          </tr>
        </table>

        <hr />

        <h3>Spec Comparison</h3>

        <mat-tab-group mat-align-tabs="start" [color]="'accent'" dynamicHeight>
          <mat-tab label="M+">Coming soon</mat-tab>
          <mat-tab label="Raiding">Coming soon</mat-tab>
          <mat-tab label="3v3">Coming soon</mat-tab>
          <mat-tab label="2v2">Coming soon</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<footer>
  <div>
    Battle for Azeroth, World of Warcraft, and Warcraft are trademarks or
    registered trademarks of Blizzard Entertainment, Inc., in the U.S. and/or
    other countries.
  </div>

  <div>
    Content is available under
    <a
      target="_blank"
      rel="nofollow"
      href="https://creativecommons.org/licenses/by-sa/3.0/"
      >CC BY-SA 3.0</a
    >
    unless otherwise noted. This site is not affiliated with the game publisher.
  </div>
  <div>
    Like the project? Contribute on
    <a target="_blank" href="https://github.com/BrandonClapp/warcraftmeta"
      >GitHub</a
    >
    | <a target="_blank" href="https://brandonclapp.com">Brandon Clapp</a>.
  </div>
</footer>
