.heading {
  text-align: center;
  margin: 2em;
}

.panels {
  display: flex;
  justify-content: center;
  width: 1350px;
  margin: 0 auto;

  .content {
    // height: calc(100% - 47px);
    // overflow-y: auto;
  }

  .panel {
    width: 450px;
    background: #1c2541;
    margin: 0.25em;
    border: 1px solid #1c2541;
    border-radius: 0.25em;

    .question {
      margin: 2.5em 1em;
      font-size: 1em;

      .slider-value {
        color: #6fffe9;
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }

      .inline {
        margin: 1em;
        display: flex;
        justify-content: space-around;
      }
    }
    mat-slider {
      // margin: 1em;
      display: flex;
    }

    > .header {
      font-size: 1.3em;
      background: #0c132b;
      padding: 0.5em;
      border-bottom: 1px solid #6fffe9;
      color: #6effe9;
    }

    .footer {
      display: flex;
      margin-top: 1em;
      flex-direction: row-reverse;
      .remove {
        // background: #6fffe9;
        background: #222223;
        border: none;
        text-transform: uppercase;
        padding: 0.25em 0.5em;
        font-weight: bold;
      }
    }
  }
}

.class-block {
  padding: 1em;
  background-color: #0c132b;
  border-top: 1px solid rgb(22, 49, 116);
  border-bottom: 1px solid rgb(132, 134, 150);
  cursor: pointer;

  &:hover {
    // background-color: #222223;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
    }

    .roles {
      display: flex;
      align-items: center;

      img {
        margin: 0 0.15em;
      }
    }
  }
  .icon {
    height: 32px;
  }

  .name {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
  }

  .percentages {
    margin-top: 0.5em;
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    .spec {
      text-align: left;
      min-width: 100px;
    }
  }

  &.selected {
    background-color: #050813;
  }
}

.class-details {
  margin: 1em;
}

.tier-list {
  margin: 1em;
}

.bad {
  color: #de616c;
}

.good {
  color: #7fde61;
}

.disabled {
  color: rgb(85, 85, 85);
}

.no-class-selection {
  margin: 1em;
}

table.class-details {
  width: 100%;

  th,
  td {
    text-align: left;
  }
}

li.tier-section {
  margin-bottom: 2em;
}

ul.tier-classes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-gap: 0.5em;

  .unit-frame {
    height: 45px;
    text-align: center;
    color: #000;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4em;
    text-shadow: 0px 0px 5px #2b2b2b;
    cursor: default;
    border: 1px solid #3a506b;

    &:hover {
      background-color: #050813;
    }
  }
}

.no-results {
  margin: 1em;
  text-align: center;
}

.tier {
  border-radius: 1em;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.tier-title {
  text-align: left !important;
  background-color: inherit !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  color: #fff !important;
  margin-bottom: 1em !important;
  padding: 0.5em !important;
}

.tag {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
}

$base-heatmap: #6fff76;
.s-tier {
  $bg: #539a6f;
  border: 1px solid lighten($bg, 10%);
  background-color: $bg;
  color: #fff;
  text-align: center;
}

.a-tier {
  $bg: #85b58a;
  border: 1px solid lighten($bg, 10%);
  background-color: $bg;
  color: #fff;
  text-align: center;
}

.b-tier {
  $bg: #dadada;
  border: 1px solid lighten($bg, 10%);
  background-color: $bg;
  color: #000;
  text-align: center;
}

.c-tier {
  $bg: #b98274;
  border: 1px solid lighten($bg, 10%);
  background-color: $bg;
  color: #fff;
  text-align: center;
}

.d-tier {
  $bg: #92484f;
  border: 1px solid lighten($bg, 10%);
  background-color: $bg;
  color: #fff;
  text-align: center;
}

table.performance {
  width: 100%;
  font-size: 0.8em;
  // th {
  //   text-align: left;
  // }
  td {
    text-align: center;
    padding: 0.5em;
  }
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    // padding-left: 1em;
    // margin: 0.5em 0;
  }
}
hr {
  margin: 2em 0;
  border: 1px solid #3b506b;
  border-bottom: 1px solid #0b132b;
}
::ng-deep .mat-slider-track-background,
.mat-slider-track-background:hover {
  background-color: #fff !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #6fffe9 !important;
  border-color: #6fffe9 !important;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #6fffe9 !important;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #6fffe9 !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: #6fffe9 !important;
}

::ng-deep .mat-tab-header-pagination-chevron {
  border-color: #6fffe9;
}

::ng-deep
  .mat-tab-header-pagination-disabled
  .mat-tab-header-pagination-chevron {
  border-color: #6fffe9;
}

::ng-deep .mat-tab-labels,
::ng-deep .mat-tab-header-pagination {
  background: #0c142b;
}

::ng-deep .mat-tab-body-content {
  background: darken(#0c142b, 3%);
  padding: 1em;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #6fffe9 !important;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #0b132b;
}
